body {
  overflow: hidden;
}

/* FOOTER */

#footer-unite {
  width: 50px !important;
  margin-top: -10px;
}

/* CONTENT */

.content-list {
  padding-left: 30px;
}

.main-container .sections-row {
  /*padding-top: 20px !important;*/
}

.pretty-large {
    font: 400 38px/1.4 'cardo';
    font-style: italic;
    letter-spacing: 2px;
}
.pretty-small {
    font: 400 38px/1.4 'cardo';
    font-style: normal;
}

/* TITLES */

.titles {
  border-bottom: #00adef solid 3px;
  padding-bottom: 7px;
  margin-bottom: 9px;
}
span.topic {
  font-size: 18.2px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: #4d4d4d;
}

/* VIZ */

#scroll-container {
  overflow: auto;
}
#section-break {
  padding-top: 50px;
}

.kpi-text{
  text-transform: uppercase;
  font-size : 20px;
  font-weight: 350;
  margin-bottom: -40px;
  padding-top:10px;
}

.kpi-qlik-text{
  font-size : 24px;
  color: red;
}

.clear-button-wrapper{
  text-align:right;
}

.btn-primary{
  background-color : #00adef;
}



/*** MODAL ***/

.modal-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 36px;
  letter-spacing: -0.02em;
  color: #4d4d4d;
  text-transform: uppercase;
  text-align: center;
}
.modal-header {
  border-bottom: none;
  margin-top: 20px;
}
.modal-footer {
  border-top: none;
}
.modal-body {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
}

#deptLogo {
  height: auto;
  width: auto;
  display: inline;
}

#aboutModal .modal-body{
  text-align : center;
}

#contactModal .modal-body{
  text-align : left;
}

/* MAIN IMAGE */
.parallax {
  color: white;
  background-image: url("../img/UNGA.jpg");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height : 300px;
  background-blend-mode: soft-light;
}

.parallax h1 {
  text-align : center;
  padding-top : 130px;
  font-weight: 500;
  font-size: 48px;
  line-height: 45px;
  letter-spacing: -0.02em;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.caption {
  text-align : right;
  padding-right: 70px;
  padding-top : 5px;
  color : #4d4d4d;
  font-style : italic;
}

.disclaimer {
  text-align : center;
  color : #000000;
  font-weight: 700;
  padding-top : 20px;
  padding-bottom : 20px;
}

/* NAVBAR*/
#navbar {
  background : #4d4d4d;
  margin-bottom : 20px;
}

.collapse navbar-collapse{
  height : 10px !important;
}

.navbar-collapse{
  padding-left : 0px;
}

.navbar-nav li{
  border-right : 1px solid white;

}

.navbar-nav li a{
  color:white;
  line-height : 1px !important;
  font-weight : 500;
}

.navbar-nav li a i{
  color:white;
  line-height : 1px !important;
}

.navbar-nav li a:hover{
  color:black;
  font-weight : 400;
}

.navbar-nav li a:active{
  color:black;
}

.navbar-nav li a i:hover {
  color: black;
}

.navbar-nav li a i:active {
  color: black;
}

.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}

/* Selections */
.borderbox{
    background-color: #f2f2f2 !important;
     color: #555656 !important;
     border-bottom: 0px !important;
}

.no-selection, div#CurrentSelections .item, i.icon-cancel{
    color:#555656 !important;
}

/* size of two datetime KPI*/
#conflict-date span.ng-binding {
    font-size: 18px;
}
#update-date span.ng-binding {
    font-size: 18px;
    margin:auto;
}