<!--<div class ="disclaimer main-container container">
    
</div>-->

<div class="main-container container">
  <div class="row sections-row">
    <div class="col-md-12">
        <div class="pretty-large" style="padding-left:40px;padding-right:90px;padding-top:40px;padding-bottom:50px;text-align:right">Bringing the most politically-sensitive news to you daily,<br> from thousands of sources.</div>
      <div class="pretty-small" style="font-size:14px"><ul>
          <li><span style="color: rgb(239,66,0)">Bright red color</span> indicates the potential negative impact on stability.</li>
          <li>The <span style="font-size: 20px">size of the bubble</span> represents the number of times an article has been mentioned by other News Media sources.</li>
      </ul></div>
        
    </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-10">
                    <div id="conflict-map" class="qvobject" style="width:90%;height:500px">
                    </div>
                </div>
                <div class="col-md-2">
                    <div style="text-align:center;">
                        <i class="fa fa-calendar fa-4x"></i>
                        <div class="kpi-text">Last Update <small>(GMT)</small></div>
                        <div class="row">
                            <div id="conflict-date" class="qvobject kpi-qlik-text" style="width:100%;height:120px"></div>
                        </div>
                    </div>
                    <div style="text-align:center;">
                        <i class="fa fa-exclamation-circle fa-4x"></i>
                        <div class="kpi-text">Total Conflicts</div>
                        <div id="conflict-event" class="qvobject kpi-qlik-text" style="width:100%;height:120px"></div>
                    </div>
                    <div style="text-align:center;">
                        <i class="fa fa-newspaper-o fa-4x"></i>
                        <div class="kpi-text">Total Articles</div>
                        <div id="conflict-article" class="qvobject kpi-qlik-text" style="width:100%;height:120px"></div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-12">
        <div id="conflict-table" class="qvobject" style="width:100%;height:200px;min-height:0px"></div>
    </div>
    <div class="col-md-12">
        <small>* The map only includes conflicts mentioned more than 100 times and having negative impacts on country stability<br>* Stability (Impact) Scale - A numeric score from -10 to +10, capturing the theoretical potential impact that type of event will have on the stability of a country<br>* <strong>Disclaimer</strong>: The designations employed and the presentation of material on this map do not imply the expression of any opinion whatsoever on the part of the Secretariat of the United Nations concerning the legal status of any country, territory, city or area or of its authorities, or concerning the delimitation of its frontiers or boundaries.</small>
    </div>
  </div>
  <div class="row sections-row" id="section-break">
  </div>
</div>
