<div class="main-container container">
    <div class="row sections-row">
        <div class="col-md-12">
            <div class="titles">
                <span class="topic">Daily Dashboard</span>
            </div>
        </div>
        <div class="col-md-12">
            <p>The daily dashboard gives users an overview of where and what kinds of cooperation and conflict happened in the world. With filters, users can investigate any type of events and any actors in which they are interested. The dataset comes from <a href="http://data.gdeltproject.org/events/index.html">daily GDELT dataset</a></p>
            <small>* Stability (Impact) Scale - A numeric score from -10 to +10, capturing the theoretical potential impact that type of event will have on the stability of a country<br>
            * Bubble of map: radius - number of mentions; color - stability impact scale</small>
        </div>
        
        <!-- Selection navigator -->
        <div class="col-md-12">
            <div class="row">
                <div id='CurrentSelections'  class="qvobjects" style="padding-top:12px;" data-qvid="CurrentSelections">
                </div>
            </div>
        </div>
        
        <!-- Actor filters -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h5>Actor 1</h5>
                </div>
                <div class="col-md-6">
                    <h5>Actor 2</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="actor1-group" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor1-name" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor2-group" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor2-name" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="actor1-country" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor1-type" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor2-country" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor2-type" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div id="actor1-religion" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor1-ethnicity" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor2-religion" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="actor2-ethnicity" class="qvobject" style="width:100%;height:50px">
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Map and bar charts -->
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div id="event-map" class="qvobject" style="width:100%;height:260px"></div>
                    <img src="legend.PNG" alt="legend" height="10" width=100%>
                </div>
                <div class="col-md-4">
                    <div id="event-category-bar" class="qvobject" style="width:100%;height:270px"></div>
                </div>
                <div class="col-md-4">
                    <div id="event-type-bar" class="qvobject" style="width:100%;height:270px"></div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4">
                    <div id="date-added-filter" class="qvobject" style="width:100%;height:50px"></div>
                </div>
                <div class="col-md-4">
                    <div id='event-country-filter' class="qvobject" style="width:100%;height:50px"></div>
                </div>
                <div class="col-md-4">
                    <div id="stability-impact-filter" class="qvobject" style="width:100%;height:50px"></div>
                </div>
            </div>
        </div>
        
        <!-- Table -->
        <div class="col-md-12">
            <div class="row">
                <p style="padding-top:10px">Following table sorted by the potential for instability of the news event and the popularity of the article</p>
                <div id="event-table" class="qvobject" style="width:100%;height:600px;min-height:300px"></div>
            </div>
        </div>

        

        <!-- KPI -->   
        <div class="col-md-12" style="padding-top: 10px">
            <div class="row">
                <div class="col-md-2" style="text-align:center;">
                </div>
                <div class="col-md-2" style="text-align:center;">
                    <i class="fa fa-calendar fa-4x"></i>
                    <div class="kpi-text">Last Update <small>(GMT)</small></div>
                    <div class="row">
                        <div id="update-date" class="qvobject kpi-qlik-text" style="width:100%;height:100px;"></div>
                    </div>
                </div>
                <div class="col-md-1" style="text-align:center;">
                </div>
                <div class="col-md-2" style="text-align:center;">
                    <i class="fa fa-group fa-4x"></i>
                    <div class="kpi-text">Total Events</div>
                    <div class="row">
                        <div id="total-event" class="qvobject kpi-qlik-text" style="width:100%;height:150px"></div>
                    </div>
                </div>
                <div class="col-md-1" style="text-align:center;">
                </div>
                <div class="col-md-2" style="text-align:center;">
                    <i class="fa fa-newspaper-o fa-4x"></i>
                    <div class="kpi-text">Total Articles</div>
                    <div class="row">
                        <div id="total-article" class="qvobject kpi-qlik-text" style="width:100%;height:150px"></div>
                    </div>
                </div>
                <div class="col-md-1" style="text-align:center;">
                </div>
            </div>
        </div>
    </div>
</div>
