<!-- FOOTER -->
<footer class="footer container">
  <div class="row list-inline">
    <div class="col-md-12">
      <div class="pull-left flip footer-brand">
        <a href="http://www.un.org/en">
          <span class="site-name">United Nations</span>
        </a>
      </div>
      <div class="pull-right flip">
        <section class="region region-footer-5">
          <div id="block-menu-menu-footer-links" class="block block-menu">
            <h4 class="font-bold">Footer Links</h4>
            <ul class="menu nav">
              <!-- Visualization contact form : server needed
              <li class="first leaf"><a href="" data-toggle="modal" data-target="#contactModal" >Contact</a></li> -->
              <!-- UN contact form -->
              <li class="first leaf"><a href="#" data-toggle="modal" data-target="#aboutModal">About this Page</a></li>
              <li class="leaf"><a href="http://www.un.org/en/contact-us/index.html">Contact</a></li>
              <li class="leaf"><a href="http://www.un.org/en/aboutun/copyright/">Copyright </a></li>
              <li class="leaf"><a href="http://www.un.org/en/aboutun/fraudalert/">Fraud Alert</a></li>
              <li class="leaf"><a href="http://www.un.org/en/aboutun/privacy/">Privacy Notice</a></li>
              <li class="leaf"><a href="http://www.un.org/en/aboutun/terms/">Terms of Use</a></li>
              <li class="last leaf">
                <a href="https://unite.un.org/">
                  <img id="footer-unite" src="img/powered-by-unite.png" alt="Powered by Unite">
                </a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</footer>
<!-- END OF FOOTER -->

<!-- MODAL -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">
          GLOBAL POLITICAL NEWS <br>MONITOR
          <br>
          <img id="deptLogo" src='img/powered-by-unite.png' />
        </h2>
      </div>
      <div class="modal-body">
        <h5>Brought to you by:</h5>
        <div class="row">
          <div class="col-md-6">
            <img id="deptLogo" src='img/logos/logo.png' />
            <br>Office of Information
            <br>and Communication Technology
          </div>
          <div class="col-md-6">
            <img id="deptLogo" src='img/logos/logo.png' />
            <br>Department of
            <br>Political Affairs
          </div>
        </div>
        <br>
        <br>
        <h5>In partnership with:</h5>
        <img id="qlikLogo" src='img/logos/qlik-logo.png' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END OF MODAL -->
