<!-- NAVIGATION BAR -->
<div id="brand-bar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    
  <div class="container brandbar-header">
    <div class="row">
      <div class="col-md-3">
        <a class="navbar-brand" href="#home">Welcome to the United Nations</a>
      </div>
    </div>
  </div>
</div>
<a id="home"> </a>

<header id="header-title" class="container">
  <div class="row" style="padding-top:35px">
    <div class="navbar-header">
      <img src="img/logos/logo.png" alt="Home" class="noprint" />
      <a id="Title" class="name navbar-brand" href="#" title="Home">Global Political News Monitor</a>
    </div>
  </div>
  <div class="row">
    <div id="navbar">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Home</a></li>
          <li><a href="#section1">Daily</a></li>
          <li><a href="https://km-unite.dev.un.org/sites/km-unite.un.org/apps/GDELTvizMonthly/index.html#/section2">Monthly</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- NAVBAR -->
